// This file seems to be necessary so that we can specify a source for .sass() call in mix
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//admin lte
@import '~admin-lte/dist/css/adminlte.css';

$fa-font-path:        "../webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Define variable defaults
$body-bg: #000;
$body-color: #111;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
//@import '~bootstrap/scss/bootstrap.scss';
//@import '~bootstrap-vue/src/index.scss';

// index.js or main.js
//@import '~vuetify/dist/vuetify.min.css' // Ensure you are using css-loader
